.product-details {
  padding: 2% 10%;
}
.container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: flex-start;
  height: 70vh;
}
.product-img {
  background-color: blue;
  height: 300px;
  width: 45%;
}
.product-img img {
  background-color: blue;
  width: 100%;
  height: auto;
}
.product-information {
  width: 50%;
  text-align: center;
  padding: 5% 0;
}
h1 {
  color: black;
  font-size: 1.8rem;
  padding: 20px 0;
}
.price {
  font-weight: 800;
  font-size: 1.2rem;
}
.size-details {
  width: 100%;
  padding: 20px 0;
}
.size-list {
  list-style: none;
  display: inline-flex;
  gap: 10px;
  padding: 10px 0 15px 0;
  width: 100%;
  justify-content: center;
}
.size {
  font-weight: 800;
  font-size: 1rem;
  border-radius: 50px;
  border: solid 4px black;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}
.size:hover {
  scale: 1.05;
  background-color: transparent;
  transition: 0.3s ease;
}
.size:focus {
  background-color: black;
  color: white;
}
.size-guide {
  background-color: transparent;
  border: none;
  outline: none;
  font-weight: 700;
}
.size-guide:hover {
  text-decoration: underline;
  transition: ease 0.3s;
}

.add-button {
  color: white;
  font-size: 1.2rem;
  padding: 12px 45px;
  border: none;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 700;
  background-color: black;
}
.add-button:hover {
  scale: 1.05;
  transition: 0.3s ease;
}
.purchase-details {
  padding: 20px 0;
}
.purchase-details ul {
  list-style: none;
}
.purchase-details li {
  font-weight: 500;
  font-size: 14px;
  padding: 3px 0;
}
.purchase-details #link {
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  padding-top: 10px;
}
.purchase-details #link a {
  text-decoration: none;
}
.purchase-details #link a:hover {
  text-decoration: underline;
}
.added-to-bag-modal {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.164);
  height: 100vh;
  width: 100vw;
  display: none;
  justify-content: center;
  justify-items: center;
  padding: 10%;
}
.modal-content {
  padding: 3%;
  border-radius: 10px;
  background-color: white;
  max-width: 500px;
  height: fit-content;
  box-shadow: 0px 2px 10px #0a090920;
  text-align: center;
}
.modal-content img {
  width: 100%;
}
.modal-content .title {
  color: black;
  font-size: 20px;
  font-weight: 800;
  padding: 20px;
}
.cta-checkout {
  color: white;
  font-size: 1.2rem;
  padding: 12px 45px;
  border: none;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 700;
  background-color: black;
}
.cta-checkout:hover {
  scale: 1.05;
  transition: 0.3s ease;
}
.product-images {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10%;
}
#imageOne {
  background-image: url(../assets/kal-visuals-2_WEB.jpg);
  background-size: cover;
  background-position: 50%;
  height: 70vh;
  width: 100%;
  border-radius: 10px;
}
#imageTwo {
  background-image: url(../assets/kal-visuals-1.jpg);
  background-size: cover;
  background-position: 50%;
  height: 100vh;
  width: 50%;
}
.product-specs {
  padding: 8% 20% 10% 20%;
}
.product-specs h3 {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 20px;
}
h2#features {
  margin-bottom: 20px;
  line-height: 2.5rem;
  max-width: 600px;
  color: rgb(14, 14, 14);
}
.features {
  padding: 20px 0;
  max-width: 700px;
}
.features-list {
  margin: 0 20px;
  padding: 0;
}
.features-list li {
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 1.3rem;
}
.features p {
  padding: 0;
  font-size: 1rem;
}
.graph {
  width: 100%;
}
.score-label {
  font-size: 1rem;
  margin: 10px 0px;
  font-weight: 600;
}
.score-label span {
  float: right;
}
.score-graph {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px;
  border-radius: 20px;
}
.score-top {
  background-color: black;
  padding: 5px;
  border-radius: 20px;
  position: relative;
  margin-top: -10px;
}
.ten {
  width: 100%;
}
.nine {
  width: 90%;
}
.seven {
  width: 70%;
}

.reviews {
  background-color: #ebe8df;
  height: fit-content;
  padding: 10%;
}

.review {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  padding: 5% 0;
  justify-content: space-between;
}
.review h4 {
  color: black;
}
.rating {
  width: 10%;
}
.user {
  width: 40%;
  max-width: 500px;
}
.review .user p {
  font-size: 1.1rem;
}

.links {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-end;
}

.links a {
  color: white;
  font-size: 1rem;
  padding: 12px 25px;
  border: none;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 700;
  background-color: black;
  border: solid 3px black;
  height: fit-content;
}

#leaf {
  width: 40px;
  margin-bottom: 15px;
}

#write {
  background-color: transparent;
  color: black;
  border: solid 3px black;
  padding: 12px 25px;
}

#open-specs {
  color: white;
  font-size: 1rem;
  padding: 12px 25px;
  border: none;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 700;
  background-color: black;
  border: solid 3px black;
  height: fit-content;
  margin-top: 5%;
}
#open-specs:hover {
  scale: 1.03;
  transition: 0.3s ease;
}

.hidden-specs {
  padding: 50px 0;
  display: none;
}
